/* Farben */
:root {
  --main-backgroundcolor: #c66b3d;
  --main-fontcolor: #26495c;
  --main-btnColor: #e5e5dc;
}

html {
  border: solid red 2px;
}

/* ----- Heading -----*/
.heading {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.heading .heading-h1 {
  margin-left: 5px;
}

.heading h3 {
  margin: 10px;
  padding-top: 0px;
  margin-left: 10px;
}

/* ----- Main ----- */
body {
  background-color: var(--main-backgroundcolor);
  color: var(--main-fontcolor);
  height: 800px;
  width: 600px;
  margin: 30px;
  border-color: black;
  border-radius: 5px;
}

.main-container {
  display: flex;
  justify-content: space-around; /* Gleicher Abstand auf beiden Seiten */
  align-items: flex-start; /* Richtet die beiden Spalten oben aus */
  padding: 20px;
  gap: 20px; /* Abstand zwischen den Spalten */
}

.btn {
  border: 2px solid black;
  color: black;
  background-color: var(--main-btnColor);
  border-radius: 5px;
}

.input {
  padding-right: 10px;
}

/* ----- Main-Left ----- */
.main-left {
  flex: 1; /* Beide Spalten haben gleiche Breite */
  padding: 20px;

  min-width: 200px; /* Mindestbreite, um das Layout stabil zu halten */
}

.main-h4 {
  margin: 0px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 0px;
  text-decoration: underline;
}

.main-left input {
  margin-top: 15px;
  margin-left: 20px;
  width: 150px;
  border-color: black;
  border-radius: 5px;
}

.main-left .inputJahr {
  margin-bottom: 20px;
}

.btn-übernehmen {
  margin-left: 20px;
  width: 130px;
}

/* ----- Main-Right ----- */
.main-right {
  flex: 1; /* Gleiche Breite wie die linke Spalte */
  padding: 20px;
  min-width: 200px; /* Mindestbreite wie in main-left */
}

.main-right h4 {
  margin-left: -10px;
  text-decoration: underline;
}

.main-right button {
  margin-left: -10px;
}

/* ----- Footer ----- */
#footer p {
  margin-left: 10px;
  font-size: 8px;
}
